################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/versions/v.0.9.9 #22
/texts/v.0.9.9 #22
*.suo
